autoFill/node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
twitter/webapp/node_modules
twitter/webapp/.pnp
.pnp.js

# testing
twitter/webapp/coverage

# next.js
twitter/webapp/.next/
twitter/webapp/out/

# production
twitter/webapp/build

# misc
twitter/webapp/.DS_Store
*.pem

# debug
twitter/webapp/npm-debug.log*
twitter/webapp/yarn-debug.log*
twitter/webapp/yarn-error.log*

# local env files
twitter/webapp/.env.local
twitter/webapp/.env.development.local
twitter/webapp/.env.test.local
.env.production.local

# vercel
.vercel

.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
autoFill/node_modules
/.pnp
.pnp.js

# testing
autoFill/coverage

# production
autoFill/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*